{{#overview.0}}
.. note::

{{#overview}}
    {{.}}
{{/overview}}
{{/overview.0}}
{{#summary}}
{{#overview}}

{{/overview}}
*{{summary}}*
{{/summary}}
{{#overview.0}}

{{/overview.0}}
{{#groups}}
.. _release-{{version}}-{{label}}:

{{label}}
{{#line}}{{label}}~{{/line}}

{{#items}}
* {{.}}
{{/items}}

{{/groups}}