{{#overview.length}}
.. note::

{{#overview}}
    {{.}}
{{/overview}}
{{/overview.length}}
{{#summary}}
{{#overview}}

{{/overview}}
*{{summary}}*
{{/summary}}
{{#overview.length}}

{{/overview.length}}
{{#groups}}
{{label}}
{{line label "~"}}

{{#items}}
* {{.}}
{{/items}}

{{/groups}}