.idea
vendor/
test/modules/composer-changelogs/
report-*
test/**/composer.lock
test/dependencies/modules
test/dependencies/phpcs.xml
test/dependencies/composer.json
test/modules
*.org
.history
.devcontainer
Dockerfile
mutagen*
docker-compose.yml