{{#overview.length}}
```
{{/overview.length}}
{{#overview-reduced}}
{{.}}
{{/overview-reduced}}
{{#overview.length}}
```
{{/overview.length}}
{{#summary}}
_{{summary}}_
{{/summary}}
{{#groups}}
{{#overview.length}}

{{/overview.length}}
*{{label}}*
{{#items}}
• _{{.}}_
{{/items}}

{{/groups}}
