{{#overview}}
{{.}}
{{/overview}}
{{#summary}}
{{#overview}}

{{/overview}}
_{{summary}}_
{{/summary}}
{{#groups}}
{{#overview.0}}

{{/overview.0}}
{{label}}
{{#line}}{{label}}~{{/line}}

{{#items}}
* {{.}}
{{/items}}

{{/groups}}