{{#overview}}
{{.}}
{{/overview}}
{{#summary}}
{{#overview}}

{{/overview}}
_{{summary}}_
{{/summary}}
{{#groups}}
{{#overview.length}}

{{/overview.length}}
{{label}}
{{line label "~"}}

{{#items}}
* {{.}}
{{/items}}

{{/groups}}