{{#overview.length}}
overview: |
{{#overview}}
  {{.}}
{{/overview}}
{{/overview.length}}
{{#summary}}
summary: "{{summary}}"
{{/summary}}
{{#groups}}
{{#name}}{{/name}}{{name}}:
{{#items}}
  - {{.}}
{{/items}}
{{/groups}}