{{#overview}}
<br/>{{.}}
{{/overview}}
{{#summary}}
<i>{{summary}}</i><br/>
{{/summary}}
{{#groups}}
<div>
  {{#label}}<b>{{/label}}{{label}}{{#label}}</b>{{/label}}
  {{#items.length}}<ol>{{/items.length}}
  {{#items}}
    <li>{{.}}</li>
  {{/items}}
  {{#items.length}}</ol>{{/items.length}}
</div>
{{/groups}}