{{#overview}}
{{.}}
{{/overview}}
{{#summary}}
{{#overview}}
---------------------------
{{/overview}}
{{summary}}
{{/summary}}
{{#groups}}
{{#overview.0}}

{{/overview.0}}
{{#title}}{{label}}{{/title}}
{{#items}}
* {{.}}
{{/items}}

{{/groups}}