{{#overview}}
{{.}}
{{/overview}}
{{#summary}}
---------------------------
{{summary}}
{{/summary}}
{{#groups}}
{{#overview.length}}

{{/overview.length}}
{{title label}}
{{#items}}
* {{.}}
{{/items}}

{{/groups}}