{{#overview}}
{{.}}
{{/overview}}
{{#summary}}
{{#overview}}

{{/overview}}
_{{summary}}_
{{/summary}}
{{#groups}}
{{#overview.0}}

{{/overview.0}}
{{#label}}### {{/label}}{{label}}

{{#items}}
* {{.}}
{{/items}}

{{/groups}}